ROMMER_PROJECTS_ROOT=~/.rommer/projects
MGBA_PATH=~/Desktop/ROMS/mGBA.app
MGBA_LIB_PATH=/tmp/mgba-src/build
MGBA_PYTHON_PATH=/tmp/mgba-src/build/python/lib.macosx-15.0-arm64-cpython-314
GHIDRA_HEADLESS=/Applications/ghidra_12.0_PUBLIC/support/analyzeHeadless
